@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500&display=swap');

header h1 {
    text-align: center;
    color: #94FF9E;
    letter-spacing: 2px;
    font-size: 3.5rem;
    padding: 2rem;
    font-family: 'Kodchasan', sans-serif;
}