.preview {
    font-family: 'Times New Roman', Times, serif;
    padding: 2rem 3rem;
}
.name {
    color: #000;
    text-align: left;
    font-size: 52px;
}
.profile {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    margin-bottom: 10px;
}
.contactsAndLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contacts>div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.links {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.preview h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.workExperience > div {
    margin-bottom: 10px
}
.workExperience .info {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.workExperience .info h4 {
    grid-row: 2/3;
    grid-column: 1/2;
    color: #5e5e5e;
}
.workExperience .info p {
    font-style: italic;
    text-align: right;
}
.workExperience .description {
    text-align: justify;
}


.projects > div {
    margin-bottom: 10px;
}
.projects a {
    text-decoration: none;
    color: inherit;
}

.education > div {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.education > div > p {
    text-align: right;
    font-style: italic;
}
.education > div > h4 {
    color: #5e5e5e;
}

.skills > div {
    display: flex;
    gap: 10px;
    align-items: center;
}